.footer-divs{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid gray;
    /* margin-top: 100px; */
    
}
.footer-main-page{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 60%;
    padding: 30px;
    margin-top: 20px

}
.footer-box{
    font-size: 13px;
    font-weight: 300;
    color: gray;
    cursor: pointer;
}
.footer-box:hover{
    color: black;
}
.img-parent-div{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.img-child-div{
    width: 70px;
}
.img-parent-footer{
    width: 100px;
    margin-top: 30px;
}

.img-parent-icons{
    /* margin-top: 30px; */
}
.last-p{
    display: flex;
    justify-content: center;
    /* padding: 20px; */
    margin-block: 30px;
    font-size: 12px;
    color: gray;
}
.paragraf-parent{
    display: flex;
}
.blue{
    color: #0D9AFE;
    width: max-content;
    height: max-content;
    border-bottom: 1px solid #0D9AFE;
    margin-inline: 5px;
}