.second{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin-top: 50px;

}
.first-parent{
    display: flex;
    justify-content: end;
    background-color: #F4F4F4;
    border-radius: 20px;
    width: 70%;
    height: 100%;
    max-height: 292px;
    position: relative;
   
    
}
.first-parent ::after{
    content: "";
    background-image:url('/phone1.png');
    background-position: center;
    background-size: contain;
    width: 100%;
    max-width: 300px;
    height: 100%;
    height: 320px;
    position: absolute;
    display: block;
    left: 30px;
    top: -40px;
}
.ex-parent{
    display: flex;
    justify-content: start;
    background-color: #F4F4F4;
    border-radius: 20px;
    width: 70%;
    height: 100%;
    max-height: 292px;
    position: relative;
    padding: 20px;
}
.ex-parent::after{
    content: "";
    background-image:url('/box-2.png');
    background-position: center;
    background-size: contain;
    
    width: 400px;
   
    height: 350px;
    position: absolute;
    display: block;
    right: 30px;
    top: -40px;
}

.ex-parent2{
    display: flex;
    justify-content: end;
    background-color: #F4F4F4;
    border-radius: 20px;
    width: 70%;
    height: 100%;
    max-height: 292px;
    position: relative;
    padding: 10px;

}
.ex-parent2::after{
    content: "";
    background-image:url('/box-3.png');
    background-position: center;
    background-size: contain;
    width: 300px;
    height: 340px;
    /* z-index: 1; */
    position: absolute;
    display: block;
    left: 30px;
    top: -20px;
}





.parent-lorem{
    width: 60%;
    text-align: center;
    /* margin: auto; */
    padding: 10px;
}
.text{
    color: gray;
    font-size: 14px;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    
}
.div-img-second{

    width: 400px;
    height: 450px;
    margin-bottom:150px;
}
.div-islamic-2{
    color: #DA424E;
    font-size: 18px;
    margin-bottom: 10px;
}
.icons-box{
    display: flex;
    gap: 6px;
    width: 70%;
}

@media(max-width:1200px){
    .first-parent ::after{
   
        width: 100%;
        max-width: 250px;
        height: 100%;
        height: 280px;
       
        left: 20px;
        top: -30px;
    }
    .parent-lorem{
        width: 70%;
    }
    .first-parent{
        width: 80%;
    }
    .ex-parent{
        width: 80%;
    }

    .ex-parent::after{
      
        width: 300px;
        height: 330px;
     
        right: 30px;
        top: -40px;
    }


}
@media(max-width:1000px){
    .first-parent ::after{
   
        width: 100%;
        max-width: 250px;
        height: 100%;
        max-height: 500px;
       
        left: 0px;
        
        
    }
    .parent-lorem{
        width: 70%;
    }
    .first-parent{
        width: 95%;
    }
    .ex-parent{
        width: 95%;
    }
    .ex-parent::after{
     right: 0;
        top: -20px;
    }

}
@media(max-width:768px){
    .first-parent ::after{
   display: none;
        
    }
    .parent-lorem{
        width: 100%;
    }
    .ex-parent::after{
      
        display: none;
    }

    .ex-parent2::after{
        display: none;
    }
    .ex-parent2{
        width: 100%;
        margin-inline: 20px;
    }
}

