.why-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}
.why-child{
    display: flex;
    width: 70%;
    background-color: #FAFAFA;
    border-radius: 20px;
}
.meeting{
    color: #CB1A4E;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
.img-parent-why{
    width: 100%;
}
.why-child{
    width: 80%;
    padding: 15px;
    margin-top: 20px;
}

.why-child1{
    width: 40%;
    padding: 20px
   
}
.why-text{
    width: 50%;
    font-size: 14px;
    color: gray;
}
.why-child-copy{
    gap: 50px;
}
.why-child-security{
    align-items: center;
    gap: 30px;
}
.meeting-security{
    text-align: center;
}